/*
 * **************************************************************
 * kintone : [ワークフロー - Template]アプリ
 * Customize Css File
 * @author : Wise Kansai Co.,Ltd.
 * **************************************************************
 */

/* 承認者コメントを入力ボタン */
#input_comment_button {
  font-size: 15px;
  font-weight: 600;
  line-height: 13px !important;
  margin-left: 1.5em;
  margin-bottom: 15px;
  color: #fff;
  background: url("https://img.icons8.com/material-outlined/24/ffffff/comments--v1.png") no-repeat;
  background-color: #ee8700;
  background-position: 6px 7px;
  height: 45px;
  border: 2px solid #ee8700;
  position: relative;
  bottom: -10px;
  left: -10px;
}

#input_comment_button:hover {
  font-size: 15px;
  font-weight: 600;
  line-height: 13px !important;
  margin-left: 1.5em;
  color: #ee8700;
  background: url("https://img.icons8.com/material-outlined/24/ee8700/comments--v1.png") no-repeat;
  background-color: #fff;
  background-position: 6px 7px;
  height: 45px;
  border: 2px solid #ee8700;
  position: relative;
  bottom: -10px;
  left: -10px;
}

/* 承認者コメント入力欄 */
.control-gaia.control-group-field-gaia.field-8232825 {
  border: 2px solid #000080;
  padding: 0px;
}

.control-gaia.control-group-field-gaia.field-8232825>.group-label-gaia {
  padding: 8px 0px;
  background-position: 0px;
  background-color: #000080;
  color: #fff;
  font-weight: 700;
  width: 100%;
  margin: 0px;
}

@media screen and (max-width: 480px) {
  .control-gaia.control-group-outer-gaia.field-8232825>div>div.control-group-row-container-gaia {
    border: 2px solid #000080 !important;
    border-radius: 0 !important;
  }

  .control-gaia.control-group-outer-gaia.field-8232825>div>h3 {
    background-color: #000080;
  }

  .control-gaia.control-group-outer-gaia.field-8232825>div>h3>button.control-group-label {
    color: #fff;
    font-weight: 700;
  }
}

/* 代理承認ボタン */
#proxy_approval_button {
  position: relative;
  left: 40px;
  color: #ffffff;
  border: 2px #000080;
  background: url(https://img.icons8.com/ios-glyphs/24/ffffff/gender-neutral-user.png) no-repeat;
  background-position: 7px 5px;
  background-color: #000080;
  height: 38px;
  width: 160px;
  bottom: -1.4px;
}

#proxy_approval_button:hover {
  position: relative;
  left: 40px;
  color: #000080;
  border: 2px solid #000080;
  background: url(https://img.icons8.com/ios-glyphs/24/000080/gender-neutral-user.png) no-repeat;
  background-position: 7px 5px;
  background-color: #ffffff;
  height: 38px;
  width: 160px;
  bottom: -1.4px;
}

/*** Attazoo Tab+ ***/
#displayTabs li {
  padding: 10px 24px !important;
}

/*** フィールドレイアウト : mobile ***/
@media only screen and (max-device-width: 480px) {

  /* 申請ID・申請日時 */
  .control-gaia.field-8232695 {
    display: inline-block;
    padding-right: 8px;
    width: 43.3%;
    vertical-align: top;
    border-bottom: none;
  }

  .control-gaia.field-8232707 {
    display: inline-block;
    padding-left: 8px;
    width: 43.3%;
    border-bottom: none;
  }

  /* 部署・申請者 */
  .control-gaia.field-8232702 {
    border-top: 1px solid #dadada;
    border-bottom: none;
    margin-top: 5px;
    padding-bottom: .5em;
  }

  /* 承認履歴一覧 */
  .control-gaia.field-8224970 {
    padding: .5em;
    display: inline-block;
    vertical-align: top;
  }

  .control-gaia.field-8224972 {
    padding: .5em;
    display: inline-block;
    width: 43.3%;
  }

  .control-gaia.field-8224974 {
    padding: .5em;
  }

  .control-gaia.field-8224971 {
    padding: .5em;
  }

  .control-gaia.field-8224975 {
    padding: .5em;
  }

  /* 承認者一覧 */
  .control-gaia.field-8230901 {
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
  }

  .control-value-gaia.value-8230901 {
    padding: 12px 10px;
  }

  .control-gaia.field-8230881 {
    display: inline-block;
    width: 55%;
    border-bottom: none;
  }

  .control-gaia.field-8230902 {
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
  }

  .control-value-gaia.value-8230902 {
    padding: 12px 10px;
  }

  .control-gaia.field-8230882 {
    display: inline-block;
    width: 55%;
    border-bottom: none;
  }

  .control-gaia.field-8230903 {
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
  }

  .control-value-gaia.value-8230903 {
    padding: 12px 10px;
  }

  .control-gaia.field-8230883 {
    display: inline-block;
    width: 55%;
    border-bottom: none;
  }

  .control-gaia.field-8230904 {
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
  }

  .control-value-gaia.value-8230904 {
    padding: 12px 10px;
  }

  .control-gaia.field-8230884 {
    display: inline-block;
    width: 55%;
    border-bottom: none;
  }

  .control-gaia.field-8230905 {
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
  }

  .control-value-gaia.value-8230905 {
    padding: 12px 10px;
  }

  .control-gaia.field-8230885 {
    display: inline-block;
    width: 55%;
    border-bottom: none;
  }

  .control-gaia.field-8230906 {
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
  }

  .control-value-gaia.value-8230906 {
    padding: 12px 10px;
  }

  .control-gaia.field-8230886 {
    display: inline-block;
    width: 55%;
    border-bottom: none;
  }
}

/*
 * --------------------------
 * Plugin Design ribbit works
 * --------------------------
 */
/** かんたん検索 **/
.kintone-app-headermenu-space .easy-search-outer {
  width: 247px !important;
}

.kintone-app-headermenu-space .easy-search-text {
  width: 200px !important;
}

/*
 * --------------------------
 * Plugin Design Toyokumo
 * --------------------------
 */
/** kMailer **/
.kmailer {
  display: none;
}

/*
 * --------------------------
 * kintone UI Component v1
 * --------------------------
 */
/** Checkbox **/
.kuc-checkbox-1-13-0__group__select-menu[borderVisible] {
  border: none !important;
  padding: 0 !important;
}